Design/DslDefinition/DslDefinition_v2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="urn:excelreport:v2"
  xmlns="urn:excelreport:v2"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">

  <!-- 式文字列（C#式を文字列として格納） -->
  <xs:simpleType name="ExprString">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <!-- bool式（C#式を文字列として格納） -->
  <xs:simpleType name="BoolExpr">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <!-- 正の整数（>=1） -->
  <xs:simpleType name="PositiveInt1">
    <xs:restriction base="xs:positiveInteger">
      <xs:minInclusive value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- 非負整数（>=0） -->
  <xs:simpleType name="NonNegativeInt0">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- 罫線種別 -->
  <xs:simpleType name="BorderStyleEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="none"/>
      <xs:enumeration value="thin"/>
      <xs:enumeration value="medium"/>
      <xs:enumeration value="thick"/>
      <xs:enumeration value="dashed"/>
      <xs:enumeration value="dotted"/>
      <xs:enumeration value="double"/>
      <xs:enumeration value="hairline"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- 罫線モード: cell / grid外枠 / grid全体 -->
  <xs:simpleType name="BorderModeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="cell"/>
      <xs:enumeration value="outer"/>
      <xs:enumeration value="all"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="StyleScopeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="cell"/>
      <xs:enumeration value="grid"/>
      <xs:enumeration value="both"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ルート -->
  <xs:element name="workbook" type="WorkbookType"/>

  <xs:complexType name="WorkbookType">
    <xs:sequence>
      <xs:element name="styles" type="StylesType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="chartPalette" type="ChartPaletteType" minOccurs="0" maxOccurs="1"/>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="component"       type="ComponentType"/>
        <xs:element name="componentImport" type="ComponentImportType"/>
      </xs:choice>
      <xs:element name="sheet" type="SheetType" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- コンポーネント定義ブロック（外部ファイル用） -->
  <xs:complexType name="ComponentsType">
    <xs:sequence>
      <!-- 外部コンポーネントファイル内でローカルまたはインポートされたスタイルを保持する -->
      <xs:element name="styles" type="StylesType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="component" type="ComponentType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- コンポーネントインポート -->
  <xs:complexType name="ComponentImportType">
    <xs:attribute name="href" type="xs:anyURI" use="required"/>
  </xs:complexType>

  <!-- components 単独ルート用（外部コンポーネントファイル用） -->
  <xs:element name="components" type="ComponentsType"/>

  <!-- スタイル定義ブロック -->
  <xs:complexType name="StylesType">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="style"  type="StyleType"/>
        <xs:element name="styleImport" type="StylesImportType"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <!-- 外部スタイルインポート -->
  <xs:complexType name="StylesImportType">
    <xs:attribute name="href" type="xs:anyURI" use="required"/>
  </xs:complexType>

  <!-- styles 単独ルート用（外部スタイルファイル用） -->
  <xs:element name="styles" type="StylesType"/>

  <!-- フォント -->
  <xs:complexType name="FontType">
    <xs:attribute name="name"      type="xs:string"/>
    <xs:attribute name="size"      type="xs:decimal"/>
    <xs:attribute name="bold"      type="xs:boolean"/>
    <xs:attribute name="italic"    type="xs:boolean"/>
    <xs:attribute name="underline" type="xs:boolean"/>
  </xs:complexType>

  <!-- 塗り -->
  <xs:complexType name="FillType">
    <xs:attribute name="color" type="xs:string"/>
  </xs:complexType>

  <!-- 罫線 -->
  <xs:complexType name="BorderType">
    <xs:attribute name="mode"   type="BorderModeEnum"/>
    <xs:attribute name="top"    type="BorderStyleEnum"/>
    <xs:attribute name="bottom" type="BorderStyleEnum"/>
    <xs:attribute name="left"   type="BorderStyleEnum"/>
    <xs:attribute name="right"  type="BorderStyleEnum"/>
    <xs:attribute name="color"  type="xs:string"/>
  </xs:complexType>

  <!-- 表示形式 -->
  <xs:complexType name="NumberFormatType">
    <xs:attribute name="code" type="xs:string"/>
  </xs:complexType>

  <!-- グローバル style 定義 -->
  <xs:complexType name="StyleType">
    <xs:sequence>
      <xs:element name="font"         type="FontType"         minOccurs="0" maxOccurs="1"/>
      <xs:element name="fill"         type="FillType"         minOccurs="0" maxOccurs="1"/>
      <xs:element name="border"       type="BorderType"       minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="numberFormat" type="NumberFormatType" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="name"  type="xs:string"      use="required"/>
    <xs:attribute name="scope" type="StyleScopeEnum"/>
  </xs:complexType>

<!-- インライン style 用 -->
  <xs:complexType name="LocalStyleType">
    <xs:sequence>
      <xs:element name="font"         type="FontType"         minOccurs="0" maxOccurs="1"/>
      <xs:element name="fill"         type="FillType"         minOccurs="0" maxOccurs="1"/>
      <xs:element name="border"       type="BorderType"       minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="numberFormat" type="NumberFormatType" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <!-- style 参照 -->
  <xs:complexType name="StyleRefType">
    <xs:attribute name="name" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:simpleType name="ChartTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="barStacked"/>
      <xs:enumeration value="line"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ChartLegendEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="none"/>
      <xs:enumeration value="right"/>
      <xs:enumeration value="left"/>
      <xs:enumeration value="top"/>
      <xs:enumeration value="bottom"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="ChartPaletteType">
    <xs:sequence>
      <xs:element name="color" type="ChartPaletteColorType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ChartPaletteColorType">
    <xs:attribute name="key" type="xs:string" use="required"/>
    <xs:attribute name="value" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="ChartSeriesType">
    <xs:attribute name="name" type="xs:string" use="optional"/>
    <xs:attribute name="value" type="xs:string" use="required"/>
    <xs:attribute name="color" type="xs:string" use="optional"/>
    <xs:attribute name="colorKey" type="xs:string" use="optional"/>
    <xs:attribute name="colorBy" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="ChartType">
    <xs:sequence>
      <xs:element name="series" type="ChartSeriesType" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="type" type="ChartTypeEnum" use="required"/>
    <xs:attribute name="title" type="xs:string" use="optional"/>
    <xs:attribute name="name" type="xs:string" use="optional"/>
    <xs:attribute name="r" type="PositiveInt1" use="required"/>
    <xs:attribute name="c" type="PositiveInt1" use="required"/>
    <xs:attribute name="width" type="PositiveInt1" use="optional" default="8"/>
    <xs:attribute name="height" type="PositiveInt1" use="optional" default="15"/>
    <xs:attribute name="category" type="xs:string" use="required"/>
    <xs:attribute name="legend" type="ChartLegendEnum" use="optional"/>
    <xs:attribute name="showDataLabels" type="xs:boolean" use="optional" default="false"/>
    <xs:attribute name="when" type="BoolExpr" use="optional"/>
  </xs:complexType>

  <!-- sheet（特殊な grid） -->
  <xs:complexType name="SheetType">
    <xs:sequence>
      <xs:element name="from" type="ExprString" minOccurs="0" maxOccurs="1"/>
      <xs:element name="var" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="styleRef"    type="StyleRefType"/>
        <xs:element name="style"       type="LocalStyleType"/>
        <xs:element name="cell"        type="CellType"/>
        <xs:element name="use"         type="UseType"/>
        <xs:element name="grid"        type="GridType"/>
        <xs:element name="repeat"      type="RepeatType"/>
        <xs:element name="chart"       type="ChartType"/>
        <xs:element name="conditionalFormatting" type="ConditionalFormattingType"/>
      </xs:choice>
      <xs:element name="sheetOptions" type="SheetOptionsType" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string"    use="required"/>
    <xs:attribute name="rows" type="NonNegativeInt0" use="optional" default="0"/>
    <xs:attribute name="cols" type="NonNegativeInt0" use="optional" default="0"/>
    <xs:attribute name="from" type="ExprString" use="optional"/>
    <xs:attribute name="var" type="xs:string" use="optional" default="item"/>
  </xs:complexType>

  <!-- component -->
  <xs:complexType name="ComponentType">
    <xs:sequence>
      <xs:element name="conditionalFormatting" type="ConditionalFormattingType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element name="grid"   type="GridType"/>
        <xs:element name="use"    type="UseType"/>
        <xs:element name="repeat" type="RepeatType"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
  </xs:complexType>

  <!-- grid -->
  <xs:complexType name="GridType">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="styleRef" type="StyleRefType"/>
        <xs:element name="style"    type="LocalStyleType"/>
        <xs:element name="cell"     type="CellType"/>
        <xs:element name="use"      type="UseType"/>
        <xs:element name="grid"     type="GridType"/>
        <xs:element name="repeat"   type="RepeatType"/>
        <xs:element name="conditionalFormatting" type="ConditionalFormattingType"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="rows" type="NonNegativeInt0" use="optional" default="0"/>
    <xs:attribute name="cols" type="NonNegativeInt0" use="optional" default="0"/>
    <xs:attribute name="area" type="xs:string"/>
  </xs:complexType>

  <!-- 共通配置属性 -->
  <xs:attributeGroup name="PlacementAttrs">
    <xs:attribute name="r"       type="PositiveInt1"/>
    <xs:attribute name="c"       type="PositiveInt1"/>
    <xs:attribute name="rowSpan" type="PositiveInt1" default="1"/>
    <xs:attribute name="colSpan" type="PositiveInt1" default="1"/>
    <xs:attribute name="when"    type="BoolExpr"/>
  </xs:attributeGroup>

  <!-- cell -->
  <xs:complexType name="CellType">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="value"    type="ExprString"/>
        <xs:element name="styleRef" type="StyleRefType"/>
        <xs:element name="style"    type="LocalStyleType"/>
      </xs:choice>
    </xs:sequence>
    <xs:attributeGroup ref="PlacementAttrs"/>
    <xs:attribute name="value"      type="ExprString"/>
    <xs:attribute name="formula"    type="ExprString"/>
    <!-- 単一参照用ショートカット -->
    <xs:attribute name="styleRef"   type="xs:string"/>
    <xs:attribute name="formulaRef" type="xs:string"/>
    <xs:attribute name="formulaRefScope" type="FormulaRefScopeType"/>
  </xs:complexType>

  <!-- use -->
  <xs:complexType name="UseType">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="styleRef" type="StyleRefType"/>
        <xs:element name="style"    type="LocalStyleType"/>
      </xs:choice>
    </xs:sequence>
    <xs:attributeGroup ref="PlacementAttrs"/>
    <xs:attribute name="component" type="xs:string"  use="required"/>
    <xs:attribute name="area"  type="xs:string"/>
    <xs:attribute name="with"      type="ExprString"/>
    <xs:attribute name="styleOverflow" type="StyleOverflowType" use="optional" default="none"/>
  </xs:complexType>

  <!-- repeat 方向 -->
  <xs:simpleType name="RepeatDirection">
    <xs:restriction base="xs:string">
      <xs:enumeration value="down"/>
      <xs:enumeration value="right"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="FormulaRefScopeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="local"/>
      <xs:enumeration value="global"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="StyleOverflowType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="none"/>
      <xs:enumeration value="edge"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- repeat -->
  <xs:complexType name="RepeatType">
    <xs:annotation>
      <xs:documentation>
        repeat@from の式は C# の IEnumerable を返す必要があります。
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="from" type="ExprString" minOccurs="0" maxOccurs="1"/>
      <xs:element name="var" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <!-- スタイル -->
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="styleRef" type="StyleRefType"/>
        <xs:element name="style"    type="LocalStyleType"/>
      </xs:choice>
      <xs:element name="conditionalFormatting" type="ConditionalFormattingType" minOccurs="0" maxOccurs="unbounded"/>
      <!-- レイアウト要素は1つだけ -->
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element name="cell"   type="CellType"/>
        <xs:element name="use"    type="UseType"/>
        <xs:element name="grid"   type="GridType"/>
        <xs:element name="repeat" type="RepeatType"/>
      </xs:choice>
    </xs:sequence>
    <xs:attributeGroup ref="PlacementAttrs"/>
    <xs:attribute name="from"      type="ExprString"      use="optional"/>
    <xs:attribute name="var"       type="xs:string"       use="optional" default="item"/>
    <xs:attribute name="direction" type="RepeatDirection" use="required"/>
    <xs:attribute name="area"      type="xs:string"/>
  </xs:complexType>

  <!-- sheetOptions -->
  <xs:complexType name="SheetOptionsType">
    <xs:sequence>
      <xs:element name="freeze"     type="FreezeType"     minOccurs="0" maxOccurs="1"/>
      <xs:element name="groups"     type="GroupsType"     minOccurs="0" maxOccurs="1"/>
      <xs:element name="autoFilter" type="AutoFilterType" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <!-- freeze -->
  <xs:complexType name="FreezeType">
    <xs:attribute name="at" type="xs:string" use="required"/>
  </xs:complexType>

  <!-- groups -->
  <xs:complexType name="GroupsType">
    <xs:sequence>
      <xs:element name="groupRows" type="GroupRowsType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="groupCols" type="GroupColsType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GroupRowsType">
    <xs:attribute name="at"        type="xs:string" use="required"/>
    <xs:attribute name="collapsed" type="xs:boolean" default="false"/>
  </xs:complexType>

  <xs:complexType name="GroupColsType">
    <xs:attribute name="at"        type="xs:string" use="required"/>
    <xs:attribute name="collapsed" type="xs:boolean" default="false"/>
  </xs:complexType>

  <!-- autoFilter -->
  <xs:complexType name="AutoFilterType">
    <xs:attribute name="at" type="xs:string" use="required"/>
  </xs:complexType>

  <!-- conditionalFormatting -->
  <xs:complexType name="ConditionalFormattingType">
    <xs:attribute name="at" type="xs:string" use="required"/>
    <xs:attribute name="minColor" type="xs:string" use="optional"/>
    <xs:attribute name="midColor" type="xs:string" use="optional"/>
    <xs:attribute name="maxColor" type="xs:string" use="optional"/>
    <xs:attribute name="formula" type="xs:string" use="optional"/>
    <xs:attribute name="formulaRef" type="xs:string" use="optional"/>
    <xs:attribute name="fillColor" type="xs:string" use="optional"/>
    <xs:attribute name="fontName" type="xs:string" use="optional"/>
    <xs:attribute name="fontSize" type="xs:double" use="optional"/>
    <xs:attribute name="fontBold" type="xs:boolean" use="optional"/>
    <xs:attribute name="fontItalic" type="xs:boolean" use="optional"/>
    <xs:attribute name="fontUnderline" type="xs:boolean" use="optional"/>
    <xs:attribute name="numberFormatCode" type="xs:string" use="optional"/>
    <xs:attribute name="borderTop" type="xs:string" use="optional"/>
    <xs:attribute name="borderBottom" type="xs:string" use="optional"/>
    <xs:attribute name="borderLeft" type="xs:string" use="optional"/>
    <xs:attribute name="borderRight" type="xs:string" use="optional"/>
    <xs:attribute name="borderColor" type="xs:string" use="optional"/>
  </xs:complexType>

</xs:schema>
